<br>
<br>
<div class="header">
  <h1>Welcome to the Roman Numeral Converter</h1>
</div>
<br>
<h2>Enter a Whole Number Below: </h2>
<br>
<div class="form">
  <form action="/roman" method="post">
    <input class="text" type="text" name="number" placeholder="ex: 245661">
    <br>
    <br>
    <br>
    <input class="button" type="submit" name="submit" value="Roman Numeralize">
  </form>
</div>
